# {{generate.from}}

common = "{{commonKey}}"
topKey = "{{top}}"
nullKey = {{nullValue}}
noneKey = {{noneValue}}

tree {
  leafe = "{{tree.leaf}}"
}

allTypes {
  int = {{intBalue}}
  string = "{{stringValue}}"
  boolean = {{booleanBalue}}
}